networks:
  nexus:
    external: true
services:
  watchtower:
    cap_drop:
      - ALL
    container_name: watchtower
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.1'
          memory: 64M
    environment:
      IMDB_WATCHLISTS: ${WATCHTOWER_IMDB_WATCHLISTS:-}
      PLEX_CLIENT_ID: ${WATCHTOWER_PLEX_CLIENT_ID:-watchtower-001}
      PLEX_SERVER_URL: ${WATCHTOWER_PLEX_SERVER_URL:?WATCHTOWER_PLEX_SERVER_URL not set}
      PLEX_TOKEN: ${WATCHTOWER_PLEX_TOKEN:?WATCHTOWER_PLEX_TOKEN not set}
      PORT: ${WATCHTOWER_PORT:?WATCHTOWER_PORT not set}
      SESSION_SECRET: ${WATCHTOWER_SESSION_SECRET:?WATCHTOWER_SESSION_SECRET not set}
      TMDB_API_KEY: ${WATCHTOWER_TMDB_API_KEY:?WATCHTOWER_TMDB_API_KEY not set}
      TRAKT_CLIENT_ID: ${WATCHTOWER_TRAKT_CLIENT_ID:?WATCHTOWER_TRAKT_CLIENT_ID not set}
      TRAKT_CLIENT_SECRET: ${WATCHTOWER_TRAKT_CLIENT_SECRET:?WATCHTOWER_TRAKT_CLIENT_SECRET not set}
      TRAKT_USERNAME: ${WATCHTOWER_TRAKT_USERNAME:-}
      TZ: ${TZ:?TZ not set}
    healthcheck:
      interval: 30s
      retries: 3
      start_period: 30s
      test: [ "CMD-SHELL", "wget -q --spider http://localhost:9001/ || exit 1" ]
      timeout: 10s
    hostname: watchtower
    image: ghcr.io/jovalle/watchtower
    labels:
      homepage.description:
      homepage.group: Media
      homepage.href: https://watchtower.${DOMAIN:?DOMAIN not set}
      homepage.icon: 'https://ik.imagekit.io/technis/w-cropped.png'
      homepage.name: watchtower
    networks:
      - nexus
    ports:
      - 9001:9001
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp:rw,noexec,nosuid,size=32m
    user: "1001:1001"
    volumes:
      - ./data:/data
