networks:
  app_default:
    external: true
  core_default:
    external: true
  data_default:
    external: true
  log_default:
    external: true
  media_default:
    external: true
  nexus_default:
    external: true
services:
  adguard:
    container_name: adguard
    dns:
      - 76.76.2.2
      - 76.76.10.2
    hostname: adguard
    image: adguard/adguardhome
    labels:
      homepage.description: Ad-Blocking DNS Server
      homepage.group: Core
      homepage.href: https://adguard.nexus.${DOMAIN:?no domain defined}
      homepage.icon: adguard-home
      homepage.name: AdGuard Home 2
      homepage.widget.password: ${ADMIN_PASSWORD:?admin password not defined}
      homepage.widget.type: adguard
      homepage.widget.url: http://adguard
      homepage.widget.username: ${ADMIN_USERNAME:?admin username not defined}
      traefik.http.routers.adguard.rule: Host(`adguard-2.${DOMAIN}`) || Host(`adguard.nexus.${DOMAIN}`)
      traefik.http.routers.adguard.tls: true
      traefik.http.services.adguard.loadbalancer.server.port: 80
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 853:853/tcp
      - 853:853/udp
      - 3000:3000/tcp
      - 5443:5443/tcp
      - 5443:5443/udp
      - 6666:6060/tcp
    restart: unless-stopped
    volumes:
      - ${DATA_PATH:?data path not defined}/adguard/conf:/opt/adguardhome/conf
      - ${DATA_PATH}/adguard/work:/opt/adguardhome/work
  authelia:
    container_name: authelia
    image: authelia/authelia
    labels:
      traefik.http.middlewares.authelia-basic.forwardAuth.address: http://authelia:9091/api/verify?auth=basic
      traefik.http.middlewares.authelia-basic.forwardAuth.authResponseHeaders: Remote-User,Remote-Groups,Remote-Name,Remote-Email
      traefik.http.middlewares.authelia-basic.forwardAuth.trustForwardHeader: true
      traefik.http.middlewares.authelia.forwardAuth.address: http://authelia:9091/api/verify?rd=https://auth.${DOMAIN}
      traefik.http.middlewares.authelia.forwardAuth.authResponseHeaders: Remote-User,Remote-Groups,Remote-Name,Remote-Email
      traefik.http.middlewares.authelia.forwardAuth.trustForwardHeader: true
      traefik.http.routers.authelia.rule: Host(`authelia.${DOMAIN}`) || Host(`auth.${DOMAIN}`)
      traefik.http.routers.authelia.tls: true
      traefik.http.services.authelia.loadbalancer.server.port: 9091
    networks:
      - core_default
      - data_default
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - ${DATA_PATH}/authelia/config:/config
  docker-socket-proxy:
    container_name: proxy
    environment:
      CONTAINERS: 1
      POST: 0
      SERVICES: 1
      TASKS: 1
    image: ghcr.io/tecnativa/docker-socket-proxy
    ports:
      - 0.0.0.0:2375:2375
    privileged: true
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
  dockpeek:
    container_name: dockpeek
    environment:
      PASSWORD: ${DOCKPEEK_PASSWORD:?dockpeek password not defined}
      SECRET_KEY: ${DOCKPEEK_SECRET_KEY:?dockpeek secret key not defined}
      TRAEFIK_LABELS: true
      USERNAME: ${DOCKPEEK_USERNAME:?dockpeek username not defined}
    image: ghcr.io/dockpeek/dockpeek
    labels:
      traefik.http.routers.dockpeek.rule: Host(`dockpeek.${DOMAIN}`)
      traefik.http.services.dockpeek.loadbalancer.server.port: 8000
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  dozzle:
    container_name: dozzle
    environment:
      DOZZLE_ENABLE_ACTIONS: true
      DOZZLE_ENABLE_SHELL: true
    image: amir20/dozzle
    labels:
      traefik.http.routers.dozzle.rule: Host(`dozzle.${DOMAIN}`) || Host(`logs.${DOMAIN}`)
      traefik.http.services.dozzle.loadbalancer.server.port: 8080
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  homepage:
    container_name: homepage
    environment:
      HOMEPAGE_ALLOWED_HOSTS: homepage.${DOMAIN},dash.${DOMAIN}
    extra_hosts:
      - host.docker.internal:host-gateway
    image: ghcr.io/gethomepage/homepage
    labels:
      traefik.http.routers.homepage.rule: Host(`homepage.${DOMAIN}`) || Host(`dash.${DOMAIN}`)
      traefik.http.services.homepage.loadbalancer.server.port: 3000
    networks:
      - app_default
      - core_default
      - data_default
      - log_default
      - media_default
    restart: unless-stopped
    volumes:
      - ${DATA_PATH}/homepage:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
  portainer:
    command: -H unix:///var/run/docker.sock --admin-password "${PORTAINER_ADMIN_PASSWORD_HASH:?password hash not defined}"
    container_name: portainer
    image: portainer/portainer-ce
    labels:
      homepage.description: Container Management
      homepage.group: Core
      homepage.href: https://portainer.${DOMAIN}
      homepage.icon: portainer
      homepage.name: Portainer
      homepage.widget.env: 1
      homepage.widget.fields: '["running", "stopped", "total"]'
      homepage.widget.key: ${PORTAINER_API_KEY:-}
      homepage.widget.type: portainer
      homepage.widget.url: http://portainer:9000
      traefik.http.routers.portainer.rule: Host(`portainer.${DOMAIN}`)
      traefik.http.services.portainer.loadbalancer.server.port: 9000
    restart: unless-stopped
    volumes:
      - ${DATA_PATH}/portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock
  tailscale:
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    container_name: tailscale
    environment:
      TS_AUTHKEY: "${TAILSCALE_AUTH_KEY:?tailscale auth key not defined}"
      TS_EXTRA_ARGS: "--accept-routes=true --advertise-routes=192.168.0.0/24 --advertise-exit-node=true"
      TS_SOCKET: /var/run/tailscale/tailscaled.sock
      TS_STATE_DIR: /var/lib/tailscale
    hostname: nexus
    image: tailscale/tailscale
    labels:
      traefik.enable: false
    restart: unless-stopped
    volumes:
      - ${DATA_PATH}/tailscale/data:/var/lib/tailscale:rw
      - ${DATA_PATH}/tailscale:/var/run/tailscale
      - /dev/net/tun:/dev/net/tun
  traefik:
    command:
      - --api.dashboard=true
      - --api.insecure=true
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=cloudflare
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.resolvers=1.1.1.1:53,8.8.8.8:53
      - --certificatesresolvers.letsencrypt.acme.dnschallenge=true
      - --certificatesresolvers.letsencrypt.acme.storage=/etc/letsencrypt/acme.json
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.tls.certResolver=letsencrypt
      - --entrypoints.websecure.http.tls.domains[0].main=${DOMAIN}
      - --entrypoints.websecure.http.tls.domains[0].sans=*.nexus.${DOMAIN},*.${DOMAIN}
      - --entrypoints.websecure.http.tls=true
      - --providers.docker=true
      - --serverstransport.insecureskipverify=true
    container_name: traefik
    environment:
      CLOUDFLARE_DNS_API_TOKEN: ${CLOUDFLARE_DNS_API_TOKEN:?cloudflare API token not defined}
      CLOUDFLARE_EMAIL: ${CLOUDFLARE_EMAIL:?cloudflare email not defined}
      TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_EMAIL: ${CLOUDFLARE_EMAIL:?cloudflare email not defined}
    extra_hosts:
      - host.docker.internal:host-gateway
    hostname: traefik
    image: traefik
    labels:
      homepage.description: Reverse proxy for exposing apps via HTTPS
      homepage.group: Core
      homepage.href: https://traefik-2${DOMAIN}
      homepage.icon: traefik
      homepage.name: Traefik 2
      homepage.widget.type: traefik
      homepage.widget.url: http://host.docker.internal:8080
      traefik.http.routers.dashboard.rule: Host(`traefik-2.${DOMAIN}`) || Host(`traefik.nexus.${DOMAIN}`)
      traefik.http.routers.dashboard.service: api@internal
    networks:
      - app_default
      - core_default
      - data_default
      - log_default
      - media_default
      - nexus_default
    ports:
      - 8080:8080
      - 8443:443
    restart: unless-stopped
    volumes:
      - ${DATA_PATH}/letsencrypt:/etc/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
  trala:
    container_name: trala
    environment:
      LOG_LEVEL: info
      REFRESH_INTERVAL_SECONDS: 30
      SEARCH_ENGINE_URL: "https://duckduckgo.com/?q:"
      TRAEFIK_API_HOST: http://traefik:8080
    image: ghcr.io/dannybouwers/trala
    labels:
      traefik.http.routers.trala.rule: Host(`trala.${DOMAIN}`)
      traefik.http.services.trala.loadbalancer.server.port: 8080
    restart: unless-stopped
    volumes:
      - ${DATA_PATH}/trala/configuration.yml:/config/configuration.yml:ro
  watchtower:
    container_name: watchtower
    environment:
      WATCHTOWER_CLEANUP: true
      WATCHTOWER_DEBUG: true
      WATCHTOWER_HTTP_API_METRICS: true
      WATCHTOWER_HTTP_API_TOKEN: ${WATCHTOWER_HTTP_API_TOKEN:?watchtower API token not defined}
      WATCHTOWER_SCHEDULE: 0 0 4 * * *
    image: containrrr/watchtower
    labels:
      homepage.description: null
      homepage.group: Core
      homepage.icon: watchtower
      homepage.name: Watchtower
      homepage.widget.fields: '["containers_scanned", "containers_updated", "containers_failed"]'
      homepage.widget.key: ${WATCHTOWER_HTTP_API_TOKEN:?watchtower API token not defined}
      homepage.widget.type: watchtower
      homepage.widget.url: http://watchtower:8080
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
