networks:
  nexus:
    external: true
services:
  node-exporter:
    cap_drop:
      - ALL
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/rootfs'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    container_name: node-exporter
    deploy:
      resources:
        limits:
          cpus: '0.25'
          memory: 64M
        reservations:
          cpus: '0.05'
          memory: 16M
    healthcheck:
      interval: 30s
      retries: 3
      start_period: 15s
      test: [ "CMD-SHELL", "wget -q --spider http://localhost:9100/metrics || exit 1" ]
      timeout: 10s
    hostname: node-exporter
    image: quay.io/prometheus/node-exporter
    labels:
      homepage.description: Host Metrics Exporter
      homepage.group: Observability
      homepage.icon: prometheus
      homepage.name: Node Exporter
      traefik.enable: false
    networks:
      - nexus
    pid: host
    read_only: true
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
