networks:
  nexus:
    external: true
services:
  postgres:
    cap_add:
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cap_drop:
      - ALL
    container_name: postgres
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 2G
        reservations:
          cpus: '0.5'
          memory: 512M
    environment:
      PGDATA: /var/lib/postgresql/data/data
      POSTGRES_DB: ${POSTGRES_DB:?POSTGRES_DB not set}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?POSTGRES_PASSWORD not set}
      POSTGRES_USER: ${POSTGRES_USER:?POSTGRES_USER not set}
      TZ: ${TZ:?TZ not set}
    healthcheck:
      interval: 10s
      retries: 5
      start_period: 30s
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:?POSTGRES_USER not set}" ]
      timeout: 5s
    hostname: postgres
    image: pgvector/pgvector:pg16
    labels:
      homepage.description: Relational Database
      homepage.group: Databases
      homepage.icon: postgres
      homepage.name: PostgreSQL
      traefik.enable: false
    networks:
      - nexus
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp:rw,noexec,nosuid,size=256m
    volumes:
      - ./data:/var/lib/postgresql/data
