networks:
  nexus:
    external: true
services:
  uptime-kuma:
    cap_add:
      - SETGID
      - SETUID
    cap_drop:
      - ALL
    container_name: uptime-kuma
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
        reservations:
          cpus: '0.1'
          memory: 64M
    healthcheck:
      interval: 30s
      retries: 3
      start_period: 30s
      test: [ "CMD-SHELL", "curl -sf http://localhost:3001 || exit 1" ]
      timeout: 10s
    hostname: uptime-kuma
    image: louislam/uptime-kuma:1
    labels:
      homepage.description: Component Health Tracking and Alerting
      homepage.group: Core
      homepage.href: https://uptime-kuma.${DOMAIN:?DOMAIN not set}
      homepage.icon: uptime-kuma
      homepage.name: Uptime Kuma
      homepage.widget.slug: technis
      homepage.widget.type: uptimekuma
      homepage.widget.url: http://uptime-kuma:3001
      traefik.http.routers.uptime-kuma.rule: Host(`uptime.${DOMAIN:?DOMAIN not set}`)
    networks:
      - nexus
    ports:
      - 3001:3001
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
