networks:
  nexus:
    external: true
services:
  valkey:
    cap_add:
      - SETUID
      - SETGID
    cap_drop:
      - ALL
    command: valkey-server --save 60 1 --loglevel warning
    container_name: valkey
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 512M
        reservations:
          cpus: '0.1'
          memory: 64M
    healthcheck:
      interval: 10s
      retries: 5
      start_period: 10s
      test: [ "CMD", "valkey-cli", "ping" ]
      timeout: 5s
    hostname: valkey
    image: valkey/valkey:8-alpine
    labels:
      homepage.description: Redis Fork Data Store
      homepage.group: Databases
      homepage.icon: valkey
      homepage.name: Valkey
      traefik.enable: false
    networks:
      - nexus
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp:rw,noexec,nosuid,size=64m
    volumes:
      - ./data:/data
